<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    {{>_msg}}
    <header>
        {{#if customHeaderVazio}}
            {{> headerVazio}}  
        {{/if}}

        {{#if customHeaderHome}}
            {{> headerHome}}  
        {{/if}}
        
        <!-- Cabeçalho customizado
        {{#if customHeaderCustom}}  Cabeçalho principal 
            {{> headerCustom}}  
        {{/if}} -->
        
    </header>

    <main>
    
    <div class="central-banner">
    {{#if centralBanner}}
    {{else}}
        GABHOOT
    {{/if}}
</div>

    <div class="container mt-4">
        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{else}}
        {{/if}}
        
        {{{body}}}

    </div>
    
    </main>

    <footer>
         {{> footerVazio}}<!-- Rodapé comum para todas as páginas -->
    </footer>
</body>
</html>
