<div class="sala-container">
    <!-- Contêiner superior para Jogadores na Sala -->
    <div class="metade-sala-container sala-superior" style="position: relative;">
       
        <div class="lista-jogadores-container">
             <h2 id="tituloSala">Jogadores na Sala: {{codigoSala}}</h2>
            <ul id="listaJogadores">
                {{#if jogadores}}
                    {{#each jogadores}}
                        <li>{{this.nome}}</li>
                    {{/each}}
                {{else}}
                    <li>Nenhum jogador na sala.</li>
                {{/if}}
            </ul>
        </div>
    </div>

    <!-- Contêiner centralizado para o título GABHoot -->
    <div class="centro-sala-container">
        <h1>GABHoot</h1>
    </div>

    <!-- Contêiner inferior para os botões -->
    <div class="metade-sala-container sala-inferior">
        <div class="botoes-container">      
             <button class="botao-sala" id="btnIniciar">Iniciar</button>
            <button class="botao-sala" onclick="window.location.href='/jogar'">Voltar</button>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const usuarioID = "{{usuarioID}}";
    const codigoSala = "{{codigoSala}}";
    
    socket.on('connect', () => {
        console.log(`Conectado com socket ID: ${socket.id}`);
        socket.emit('reconectar',{usuarioID});
    });

    document.getElementById('btnIniciar').addEventListener('click', () => {
        socket.emit('redirecionarSala',{ codigoSala, usuarioID });
    });
  
    socket.on('redirect', (url) => {
         window.location.href = url;
    });

</script>
